In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
import os
from dotenv import load_dotenv

In [2]:
load_dotenv()

True

In [3]:
data_path = os.getenv('DATA_PATH')

# Check if the environment variable is set and the path is valid
if data_path:
    try:
        # Load the DataFrame
        df = pd.read_csv(data_path, low_memory=False)
        print("DataFrame loaded successfully.")
    except Exception as e:
        print(f"Error loading DataFrame: {e}")
else:
    print("'DATA_PATH' is not set or is empty.")

DataFrame loaded successfully.

In [7]:
def get_connection():
    try:
        engine = create_engine(
            f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PWD')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}"
        )
        with engine.connect() as connection:
            pass
        return engine
    except SQLAlchemyError as e:
        print(f"Error connecting to PostgreSQL: {e}")
        return False
conn = get_connection()
if conn:
    print("Connection established successfully.")
else:
    print("Connection encountered an error.")

Connection established successfully.

In [5]:
print(get_connection())

Engine(postgresql://postgres:***@localhost:5432/electronics)

In [ ]:
def insert_dataframe(df):
	conn = get_connection()
	if conn:
		try:
			df.to_sql('sales', conn, index=False, if_exists='append')
			print("DataFrame inserted successfully.")
		except Exception as e:
			print(f"Error inserting DataFrame: {e}")
	else:
		print("Connection to the PostgreSQL encountered an error.")

In [ ]:
insert_dataframe(df)

In [8]:
# GET THE CONNECTION OBJECT
conn = get_connection()

In [26]:
# Function to load data from a SQL query into a DataFrame
def load_data(query):
    if conn:
        try:
            df = pd.read_sql_query(query, conn)
            return df
        except Exception as e:
            print(f"Error loading DataFrame: {e}")
            return None
    else:
        print("No connection to the database.")
        return None

In [27]:
first_5_rows = 'SELECT * FROM electronics LIMIT 5;'
load_data(first_5_rows)

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
0,0,0,5.0,1999-06-13,Female,Portable Audio & Video,None,1999,None,0
1,0,1,5.0,1999-06-14,Female,Portable Audio & Video,None,1999,None,0
2,0,2,3.0,1999-06-17,Female,Portable Audio & Video,None,1999,None,0
3,0,3,1.0,1999-07-01,Female,Portable Audio & Video,None,1999,None,0
4,0,4,2.0,1999-07-06,Female,Portable Audio & Video,None,1999,None,0

In [29]:
df = pd.read_sql_table('electronics',conn)
df

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
0,0,0,5.0,1999-06-13,Female,Portable Audio & Video,None,1999,None,0
1,0,1,5.0,1999-06-14,Female,Portable Audio & Video,None,1999,None,0
2,0,2,3.0,1999-06-17,Female,Portable Audio & Video,None,1999,None,0
3,0,3,1.0,1999-07-01,Female,Portable Audio & Video,None,1999,None,0
4,0,4,2.0,1999-07-06,Female,Portable Audio & Video,None,1999,None,0
...,...,...,...,...,...,...,...,...,...,...
1292949,9478,1157628,1.0,2018-09-26,Female,Headphones,Etre Jeune,2017,None,0
1292950,9435,1157629,5.0,2018-09-26,Female,Computers & Accessories,None,2017,None,0
1292951,9305,1157630,3.0,2018-09-26,Female,Computers & Accessories,None,2016,None,0
1292952,9303,1157631,5.0,2018-09-29,Male,Headphones,None,2018,None,0
1292953,9478,1157632,1.0,2018-10-01,Female,Headphones,Etre Jeune,2017,Female,0

### Customer Ratings Distribution

In [ ]:
customer_ratings = '''
SELECT rating, COUNT(rating) AS rating_distribution
FROM electronics
GROUP BY rating
ORDER BY rating_distribution DESC;'''
load_data(customer_ratings)

In [ ]:
# sns.set_style('whitegrid')
# fig,axes = plt.subplots(figsize=(12,8))
# ax = sns.barplot(x='rating',y='category', data=star_5, palette = 'Paired')
# for container in ax.containers:
#     ax.bar_label(container)
# plt.title('AirPlane Models with their ranges')
# plt.xticks(rotation=45)
# plt.show()

In [ ]:
duplicate_query = '''
SELECT COUNT(*)
FROM (
    SELECT *, COUNT(*) OVER (PARTITION BY rating,category,brand,year) AS cnt
    FROM electronics
) AS subquery
WHERE cnt > 1;
'''
load_data(duplicate_query)

In [ ]:
count_null = '''
SELECT 'rating' AS col, COUNT(*) - COUNT(rating) AS null_count
FROM electronics
UNION ALL
SELECT 'category' AS col, COUNT(*) - COUNT(category) AS null_count
FROM electronics

UNION ALL
SELECT 'brand' AS col, COUNT(*) - COUNT(brand) AS null_count
FROM electronics;

'''
load_data(count_null)

In [ ]:
year_count = '''
SELECT EXTRACT(YEAR FROM timestamp::TIMESTAMP) AS year, COUNT(*) AS count
FROM electronics
GROUP BY EXTRACT(YEAR FROM timestamp::TIMESTAMP)
ORDER BY count DESC
LIMIT 5;
'''
load_data(year_count)

### Quantity sold by category

In [ ]:
sales_by_category = '''
SELECT category, COUNT(item_id) AS sales_by_category
FROM electronics
GROUP BY category
ORDER BY sales_by_category DESC;
'''
load_data(sales_by_category)

### Year with the most sales recorded

In [ ]:
sales_by_year = '''
SELECT year, COUNT(item_id) AS sales_by_year
FROM electronics
GROUP BY year
ORDER BY sales_by_year DESC
LIMIT 5;'''
load_data(sales_by_year)

### Top selling items

In [ ]:
top_selling_items = '''
SELECT item_id, category, COUNT(item_id) AS sales_count
FROM electronics
GROUP BY item_id, category
ORDER BY sales_count DESC
LIMIT 5;
'''
load_data(top_selling_items)

### Quantity sold by brand

In [ ]:
sales_by_brand = '''
SELECT brand, COUNT(item_id) AS count
FROM electronics
GROUP BY brand
ORDER BY count DESC
LIMIT 5;
'''
load_data(sales_by_brand)